#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImage {
  height: 405px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.portfolio-image {
  margin: auto;
  display: block;
  width: 100%; /* Updated width to fill the screen */
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content {
  max-width: 100%;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Expanding picture caroussel */
@media (max-width: 480px) {
  .options {
    flex-direction: column;
  }
}

.item{
  margin-right: auto;
  padding-right: 36px;
  padding-left: 1px;
}

body {
  min-height: 100vh;
  display: grid;
  background: #100721;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  gap: 10px;

  > div {
    flex: 0 0 225px;
    border-radius: 6rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #ce8600;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("../img/drawing/smaller.JPG");
      no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../img/Digital/portrait2.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../img/photography/photo.jpg")
        no-repeat 50% / cover;
    }
    
    .links {
      padding: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .select-item {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      opacity: 0;
      flex-direction: column;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #ce8600;
      transform: translatey(-30px);
    }

    &:hover .select-item {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}


body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Sass variables ------------------------------------------------------------------
------------------------------------------------------------------------------------
--------------------------------------------------------------------------------- */
@font-face {
  font-family: "regardsregular";
  src: url("regards-webfont.woff2") format("woff2"), url("regards-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regardsregular";
  src: url("regards-webfont.woff2") format("woff2"), url("regards-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Layout styles -------------------------------------------------------------------
------------------------------------------------------------------------------------
--------------------------------------------------------------------------------- */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4e3000;
  color: #4b0000e3;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
  height: 100%;
  font-family: "Quasimoda", "ivyora-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 1.5em;
}

.site-main-wrapper {
  margin: 24px;
  border: 1px solid black;
  overflow: hidden;
}

.site-inner-wrapper {
  overflow: hidden;
  position: relative;
}

.site-header-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 8.474576271%; 
}

.section-info {
  margin: 0 auto;
  width: 49.01129944%;
   
}

.section-main {
  margin-left: auto;
  margin-right: auto;
  width: 66.10169492%; 
  color: #ab7626;
}


section {
  background: #b7b7b7;
  /* background: #d4a867; */
  /* background: #bfb3a1; */
  /* background: #faefdd; */
  /* background: #a96809c7; */
}

.site-header {
  background: #1d1d19;
  /* background: #060605b8; */
  /* background: #180a01; */
  /* background: #2C2622; */
  color: #ff9800;
}



/* Typography styles ---------------------------------------------------------------
------------------------------------------------------------------------------------
--------------------------------------------------------------------------------- */
h1, h2 {
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: -0.015em;
  font-feature-settings: "swsh", "liga";
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}
h1 {
  font-size: 78px;
  line-height: 1.2em;
  margin-bottom: 24px;
}
h2 {
  font-size: 40px;
  line-height: 1.25em;
  margin-bottom: 40px;
}
h3 {
  font-style: normal;
  letter-spacing: 0;
  font-size: 22px;
  font-family: "Quasimoda", "ivyora-text", sans-serif;
  font-weight: 400;
  line-height: 1.35em;
  margin: 40px 0 0 0;
}
h4, .section-description {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.075em;
  margin-bottom: 8px;
}

a {
  border-bottom: 0.5px solid #2C2622;
  text-shadow: 2px 2px 4px #000000;
  color: #ab7626;
  text-decoration: none;
}
a:hover {
  border-bottom: 0.5px solid #f0d09a;
  color: #ff0000;
}

strong {
  font-weight: 600;
}

.section-link,
.page-link,
.site-info .section-link {
  border-bottom: 0.5px solid #2C2622;
  display: inline-block;
  font-size: 14px;
  font-family: "logic-monoscript", mono;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.005em;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-top: 24px;
}

.page-link {
  color:#4b0000e3;
}

/* Header and footer styles --------------------------------------------------------
------------------------------------------------------------------------------------
--------------------------------------------------------------------------------- */
footer {
  background: #4b0000e3;
}
header .site-header-wrapper,
footer .site-header-wrapper,
header.site-header .site-header-wrapper,
footer.site-header .site-header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 8.474576271% 16px 8.474576271%;
}
header ul,
footer ul,
header.site-header ul,
footer.site-header ul {
  display: flex;
  justify-content: space-between;
}
header li,
footer li,
header.site-header li,
footer.site-header li {
  font-family: "logic-monospace";
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  margin-left: 16px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
header li a,
footer li a,
header.site-header li a,
footer.site-header li a {
  border: none;
  display: block;
  line-height: 1.3em;
  padding: 4px;
}
header li a:hover,
footer li a:hover,
header.site-header li a:hover,
footer.site-header li a:hover {
  border: none;
}
header .site-page a,
footer .site-page a,
header.site-header .site-page a,
footer.site-header .site-page a {
  font-family: "logic-monoscript";
  border-bottom: 0.5px solid #827165;
  margin: 0 4px;
  padding: 4px 0 0 0;
}
header.site-header .site-page a,
footer.site-header .site-page a {
  color: #ff9d00;
  border-bottom: 0.5px solid #915c07;
}

.site-name {
  font-family: regardsregular, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.01em;
}
.site-name a {
  border: none;
}

.site-subscription label,
.site-subscription input[type=submit],
.articles-preview li .link {
  font-family: "logic-monospace", mono;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: left;
}
.site-subscription input[type=submit] {
  color: #2C2622;
}

/* /* About page styles ---------------------------------------------------------------
------------------------------------------------------------------------------------
/* ---------------------------------------------------------------------------------  */
.site-info {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 8.474576271%; 
}
.site-info .site-info-wrapper {
  width: 72.22222222%; 
}
.site-info .site-info-wrapper.full-main {
  width: 100%; 
}
.site-info .site-info-wrapper h2 {
  font-size: 48px;
  margin: 24px 0;
}
.site-info .site-info-wrapper h2:first-of-type {
  margin-top: 0;
}
.site-info .site-info-wrapper h3 {
  font-size: 36px;
}
.site-info .site-info-wrapper ul, .site-info .site-info-wrapper ol {
  margin: 0 0 40px 40px;
}
.site-info .site-info-wrapper p {
  margin-bottom: 24px;
}
.site-info .site-info-wrapper li {
  margin-bottom: 12px;
}
.site-info .site-info-wrapper ul li {
  list-style-type: disc;
  margin-left: 22px;
}
.site-info .site-info-wrapper li ul {
  margin-top: 16px;
}
.site-info .site-info-wrapper li ul li {
  font-size: 24px;
  margin-bottom: 12px;
}
.site-info .site-info-wrapper img {
  max-width: 100%;
}
.site-info .site-info-wrapper .side-text:first-letter {
  font-family: regardsregular, sans-serif;
  font-feature-settings: "swsh";
  margin: 8px 12px 0 0;
  font-size: 84px;
  line-height: 80px;
}
.site-info strong {
  font-weight: 700;
}
.site-info .about-image {
  border: 0.5px solid #2C2622;
  margin: 0 40px 24px 0;
  padding: 16px;
  width: 33%;
} 

.social-links li {
  font-family: "logic-monoscript", mono;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.social-links a {
  color: #ab7626;
  display: flex;
  width: 100%;
  align-items: center;
}
.social-links a:hover {
  color: #ff0000;
}

.contact-style {
  display: flex;
  column-gap: 3.389830508%;
}
.contact-style.section-info {
  display: block;
}
.contact-style.section-info .flex-links,
.contact-style.section-info .site-subscription {
  margin-top: 40px;
  width: 100%;
}
.contact-style.section-info h3 {
  font-size: 16px;
  margin-bottom: 16px;
}
.contact-style.section-info .site-subscription-group {
  width: 75%;
}
.contact-style.section-info .optionalParent {
  width: 25%;
}
.contact-style.section-info .optionalParent input {
  width: 100%;
}

.flex-links,
.site-subscription {
  width: 30.6122449%; 
}
.flex-links h3,
.site-subscription h3 {
  font-size: 18px;
  margin-bottom: 24px;
  margin-top: 0;
}
.flex-links ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-auto-rows: 1fr;
}
.flex-links li {
  margin-top: 4px;
}

.site-subscription {
  box-sizing: border-box;
}
.site-subscription h3 {
  margin-bottom: 24px;
}
.site-subscription p {
  margin: 0 0 40px 0;
  font-size: 16px;
}
.site-subscription label {
  display: block;
  margin-bottom: 8px;
}
.site-subscription input[type=text],
.site-subscription input[type=email] {
  background: none;
  border: none;
  border-bottom: 1px solid #faefdd;
  color: #f0d09a;
  font-size: 16px;
  padding: 0 0 8px 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.site-subscription input[type=email] {
  background: #2C2622;
  font-family: "Quasimoda", "ivyora-text", sans-serif;
  flex-grow: 1;
  border: 0.5px solid #faefdd;
  padding: 8px;
}
.site-subscription input[type=submit] {
  background: #ff9f02;
  border: none;
  display: block;
  height: 37px;
  margin-top: 29px;
  padding: 8px 16px 10px 16px;
  width: auto;
  text-align: center;
  font-size: 14px;
}
.site-subscription input[type=submit]:hover {
  cursor: pointer;
  background: #750000;
}
.site-subscription-signup {
  display: flex;
  justify-content: space-between;
}
.site-subscription-signup div {
  flex-grow: 1;
}

.philosophy {
  background: #1d1d19;
  /* background: #060605b8; */
  /* background: #180a01; */
  /* background: #2C2622; */
  background-size: 100%;
}
.philosophy h3 {
  margin-top: 0;
}
.philosophy p {
  font-family: "logic-monoscript", mono;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.005em;
  font-size: 14px;
  color: #c47500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.philosophy ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3.389830508%; /* 48/1416 */
  row-gap: 40px;
}
.philosophy li {
  display: block;
  margin-bottom: 32px;
}
.philosophy li a {
  background: #0003ff03;
  border: 0.5px solid #750000;
  height: 100%;
  display: block;
  padding: 32px 32px 0 32px;
}
.philosophy a {
  text-decoration: none;
}
.philosophy a:hover {
  text-decoration: underline;
}
.philosophy a h3 {
  color: #FF9800;
}
.philosophy p:after {
  content: "↗";
  display: inline-block;
  font-family: mono;
  margin: 0 0 0 10px;
  font-size: 12px;
  line-height: 8px;
}

.featured-inside {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 100%;
}

.section-border {
  padding: 24px;
}
.section-border .section-frame {
  border: 0.5px solid #750000;
  background-color: #0003ff03;
  overflow: hidden;
  position: relative;
}
.section-border .site-header-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 7.01754386%; /* 120/1368 */
}


.contact-hero {
  
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url(../img/Digital/almost\ done.jpg);
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ab7626;
  text-shadow: 1px 1px 1px #000;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin: 0px;
}


/* /* portfolio page styles ---------------------------------------------------------------
------------------------------------------------------------------------------------
/* ---------------------------------------------------------------------------------  */
.portfolio-info {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 8.474576271%; 
}
.portfolio-info .portfolio-info-wrapper {
  width: 90%; 
}
.portfolio-info .portfolio-info-wrapper.full-main {
  width: 100%; 
}
.portfolio-info .portfolio-info-wrapper h2 {
  font-size: 48px;
  margin: 24px 0;
}
.portfolio-info .portfolio-info-wrapper h2:first-of-type {
  margin-top: 0;
}
.portfolio-info .portfolio-info-wrapper h3 {
  font-size: 36px;
}
.portfolio-info .portfolio-info-wrapper ul, .portfolio-info .portfolio-info-wrapper ol {
  margin: 0 0 40px 40px;
}
.portfolio-info .portfolio-info-wrapper p {
  margin-bottom: 24px;
}
.portfolio-info .portfolio-info-wrapper li {
  margin-bottom: 12px;
}
.portfolio-info .portfolio-info-wrapper ul li {
  list-style-type: disc;
  margin-left: 22px;
}
.portfolio-info .portfolio-info-wrapper li ul {
  margin-top: 16px;
}
.portfolio-info .portfolio-info-wrapper li ul li {
  font-size: 24px;
  margin-bottom: 12px;
}
.portfolio-info .portfolio-info-wrapper img {
  max-width: 100%;
}
.portfolio-info .portfolio-info-wrapper .side-text:first-letter {
  font-family: regardsregular, sans-serif;
  font-feature-settings: "swsh";
  margin: 8px 12px 0 0;
  font-size: 84px;
  line-height: 80px;
}
.portfolio-info strong {
  font-weight: 700;
}
.portfolio-info .portfolio-image {
  border: 0.5px solid #2C2622;
  margin: 0 40px 24px 0;
  box-shadow: inset 20em 10em #2c2622;
  padding: 10px;
  width: 33%;
} 

.digital-hero { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url(../img/portfolio/hero1.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ab7626;
    text-shadow: 1px 1px 1px #000;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0px;
}
.photography-hero { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url(../img/photography/photohero.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ab7626;
    text-shadow: 1px 1px 1px #000;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0px;
}
.drawing-hero { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url(../img/portfolio/herohand.jpg);

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ab7626;
    text-shadow: 1px 1px 1px #000;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0px;
}

.page-layout {
display: flex;
width: 100%;
flex-direction: row;
height: auto;
}
.page-layout-reverse {
  display: flex;
  flex-direction:row-reverse;
  width: 100%;
  height: auto;
  }

/* Tablet styles -------------------------------------------------------------------
------------------------------------------------------------------------------------
--------------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  header,
  header.site-header {
    height: auto;
  }
  h1 {
    font-size: 72px;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    margin-top: 0;
  }
  header .site-header-wrapper, footer .site-header-wrapper, header.site-header .site-header-wrapper, footer.site-header .site-header-wrapper {
    padding: 16px 40px;
  }

  .site-header-wrapper,
  .section-border .site-header-wrapper {
    padding: 64px 40px;
  }
  .section-main,
  .section-info,
  .work-preview .work-description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .site-hero .site-header-wrapper {
    padding-bottom: 64px;
    padding-top: 64px;
  }

  .site-featured-preview p {
    margin: 0 auto;
    max-width: 100%;
    width: 75%;
  }
  .philosophy ul {
    display: block;
    margin: 64px auto 0 auto;
    width: 75%;
  }
  .philosophy ul li {
    margin-top: 24px;
  }
  .site-info {
    display: block;
    padding: 0;
  }
  .site-info .site-info-wrapper, .site-info .side-links {
    width: 100%;

  }
  .site-info .site-info-wrapper p, .site-info .site-info-wrapper li {
    font-size: 16px;
    line-height: 1.4em;
  }
  .site-info .side-links {
    border-top: 0.5px solid #2C2622;
    margin-top: 40px;
    padding: 40px 0 0 0;
  }
  .contact {
    background-size: 15%;
  }
  .philosophy ul {
    margin-top: 32px;
  }
  .philosophy li a {
    padding: 16px;
  }
   .work-banner {
    background: #faefdd;
  }
  .work-banner .content {
    width: 100%;
  }
  .work-banner h1 {
    margin-bottom: 16px;
  } 
  .site-hero .recent-articles.site-header-wrapper ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .contact-style {
    display: block;
  }
  .contact-style div {
    width: 100%;
  }
  .contact-style .site-subscription {
    margin-top: 32px;
  }
}
/* Mobile styles -------------------------------------------------------------------
------------------------------------------------------------------------------------
--------------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
  header {
    height: auto;
  }
  header li, footer li {
    margin-left: 16px;
  }
  .site-hero .site-header-wrapper {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .site-featured-preview {
    padding: 0;
  }
  .site-featured-preview li {
    width: 47.08879185%;
  }
  .site-featured-preview .portfolio-inner {
    border: none;
  }
  .contact {
    background-image: none;
  }

  .site-info .about-image,
  .portfolio-info .portfolio-image {
    width: 100%;
    box-sizing: border-box;
  }
  .site-hero .recent-articles.site-header-wrapper {
    padding-top: 40px;
  }
  .site-hero .recent-articles.site-header-wrapper ul {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .site-main-wrapper {
    margin: 16px;
  }
  .section-border {
    padding: 16px;
  }
  .site-name {
    display: block;
    margin: 16px auto 8px;
  }
  header {
    padding-bottom: 16px;
  }
  header, footer, header.site-header, footer.site-header {
    height: auto;
  }
  header .site-header-wrapper, footer .site-header-wrapper, header.site-header .site-header-wrapper, footer.site-header .site-header-wrapper {
    padding: 1px 24px;
    display: block;
  }
  header ul, footer ul, header.site-header ul, footer.site-header ul {
    justify-content: start;
  }
  header li:first-of-type, footer li:first-of-type, header.site-header li:first-of-type, footer.site-header li:first-of-type {
    margin-left: 0;
  }
  header li:first-of-type a, footer li:first-of-type a, header.site-header li:first-of-type a, footer.site-header li:first-of-type a {
    margin-left: 0;
    padding-left: 0;
  }
  header li, footer li, header.site-header li, footer.site-header li {
    font-size: 11px;
    margin-left: auto;
  }
  .section-main,
  .section-info,
  .site-info,
  .portfolio-info,
  .philosophy ul {
    box-sizing: border-box;
    width: 100%;
  }
  h1 {
    font-size: 44px;
    line-height: 1.05em;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.4em;
  }

  .site-info .site-info-wrapper p,
  .portfolio-info .portfolio-info-wrapper p,
  .site-info .site-info-wrapper li {
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 16px;
  }

  .section-link,
  .page-link {
    font-size: 12px;
  }
  .site-header-wrapper,
  .section-border .site-header-wrapper {
    padding: 24px;
  }

  .site-featured-preview h1,
  .articles h1 {
    margin-bottom: 40px;
  }

  .site-featured-preview ul {
    margin: 16px 0 0 0;
    display: block;
  }

  .site-featured-preview li {
    padding: 16px;
  }

  .social-links li {
    font-size: 12px;
  }

  .site-subscription-signup {
    display: block;
  }

  .contact-style.section-info .site-subscription-group {
    width: 100%;
  }

  .site-subscription input[type=text], .site-subscription input[type=email] {
    margin-bottom: 0;
  }

  .contact-style.section-info .optionalParent {
    width: 50%;
  }

  .page-layout,
  .page-layout-reverse{
    flex-direction:column
  }
}

.thanks {
  display: flex;
  justify-content: center;
}

.bottom-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 0px; /* Adjust the margin as needed */
}

.bottom-buttons {
  width: 100%;
}

.bottom-buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #490400; /* Choose your preferred color */
  color: #ab7626;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.bottom-buttons a:hover {
  background-color: #750000;
  color:#c38528;
}
